/**
 * Beatstream CSS
 */
/* RESET */
/* line 2, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

/* line 3, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 4, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 5, ../sass/partials/_reset.scss */
fieldset, img {
  border: 0;
}

/* line 6, ../sass/partials/_reset.scss */
address, caption, cite, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 7, ../sass/partials/_reset.scss */
caption, th {
  text-align: left;
}

/* line 8, ../sass/partials/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 9, ../sass/partials/_reset.scss */
abbr, acronym {
  border: 0;
}

/* Base styles */
/* line 2, ../sass/partials/_base.scss */
html, body {
  height: 100%;
}

/* line 6, ../sass/partials/_base.scss */
body {
  color: #333;
  font-family: sans-serif;
  margin: 0 auto;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

/* line 15, ../sass/partials/_base.scss */
.under-construction {
  border: 2px dashed #bbb;
  color: #666;
  margin: 15px 0;
  padding: 10px 12px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

/* line 25, ../sass/partials/_base.scss */
.none {
  color: #666;
  margin: 15px 0;
  padding: 10px 12px;
  text-align: center;
}

/* line 33, ../sass/partials/_base.scss */
input[type="submit"] {
  cursor: pointer;
}

/* line 1, ../sass/partials/_layout.scss */
#app, .wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* line 8, ../sass/partials/_layout.scss */
.app-main {
  float: left;
  height: 100%;
  overflow: hidden;
}
/* line 13, ../sass/partials/_layout.scss */
.app-main .playlist {
  height: 100%;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
}

/* line 1, ../sass/partials/_typography.scss */
h1 {
  font-size: 32px;
  line-height: 1.4em;
}

/* line 5, ../sass/partials/_typography.scss */
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4em;
}

/* line 10, ../sass/partials/_typography.scss */
h5 {
  font-weight: 700;
}

/* line 13, ../sass/partials/_typography.scss */
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

/* line 1, ../sass/partials/_icons.scss */
.loading {
  background: url("/img/preloader.gif") no-repeat;
  height: 16px;
  width: 16px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

/* line 8, ../sass/partials/_icons.scss */
.sync-icon {
  background: url("/img/sync.gif") no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

@-webkit-keyframes shake {
  /* line 2, ../sass/partials/_animations.scss */
  0%, 100% {
    -webkit-transform: translateX(0);
  }

  /* line 3, ../sass/partials/_animations.scss */
  10%, 30%, 50%, 70% {
    -webkit-transform: translateX(-5px);
  }

  /* line 4, ../sass/partials/_animations.scss */
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(5px);
  }
}

/* line 1, ../sass/partials/_buttons.scss */
.btn {
  background: #595959;
  background: -webkit-linear-gradient(top, #707070, #424242);
  background: -moz-linear-gradient(top, #707070, #424242);
  background: -o-linear-gradient(top, #707070, #424242);
  background: -ms-linear-gradient(top, #707070, #424242);
  background: linear-gradient(top, #707070, #424242);
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  text-align: center;
  text-shadow: 0 1px 0 #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 21, ../sass/partials/_buttons.scss */
.btn:hover {
  background: #707070;
  background: -webkit-linear-gradient(top, #888888, #424242);
  background: -moz-linear-gradient(top, #888888, #424242);
  background: -o-linear-gradient(top, #888888, #424242);
  background: -ms-linear-gradient(top, #888888, #424242);
  background: linear-gradient(top, #888888, #424242);
  color: #fff;
}

/* line 1, ../sass/partials/_sliders.scss */
.ui-slider {
  background: #131313;
  border: 1px solid #2e2e2e;
  border-top-color: #000;
  height: 8px;
  position: relative;
  text-align: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 12, ../sass/partials/_sliders.scss */
.ui-slider-range {
  background: #f6a828;
  background: -webkit-linear-gradient(top, #f6a828, #f6a828 30%, #d06010 85%, #aa3311);
  background: -moz-linear-gradient(top, #f6a828, #f6a828 30%, #d06010 85%, #aa3311);
  background: -o-linear-gradient(top, #f6a828, #f6a828 30%, #d06010 85%, #aa3311);
  background: -ms-linear-gradient(top, #f6a828, #f6a828 30%, #d06010 85%, #aa3311);
  background: linear-gradient(top, #f6a828, #f6a828 30%, #d06010 85%, #aa3311);
  display: block;
  height: 8px;
  position: absolute;
  z-index: 1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 27, ../sass/partials/_sliders.scss */
.ui-slider-handle {
  background: #eee;
  background: -webkit-linear-gradient(top, #faf9f8, #c3c2c1);
  background: -moz-linear-gradient(top, #faf9f8, #c3c2c1);
  background: -o-linear-gradient(top, #faf9f8, #c3c2c1);
  background: -ms-linear-gradient(top, #faf9f8, #c3c2c1);
  background: linear-gradient(top, #faf9f8, #c3c2c1);
  border: 1px solid #bbb;
  border-top: 1px solid #fafafa;
  display: block;
  height: 8px;
  margin-left: -5px;
  position: absolute;
  top: -1px;
  width: 8px;
  z-index: 2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

/* line 50, ../sass/partials/_sliders.scss */
.ui-slider-handle:focus {
  outline: 0;
}

/* line 53, ../sass/partials/_sliders.scss */
.ui-slider-handle.ui-state-hover {
  background: #ccc;
}

/* line 56, ../sass/partials/_sliders.scss */
.ui-slider-handle.ui-state-active {
  background: #ddd;
}

/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/
/* line 8, ../sass/external/_slick.grid.scss */
.slick-header.ui-state-default, .slick-headerrow.ui-state-default {
  width: 100%;
  overflow: hidden;
  border-left: 0px;
}

/* line 14, ../sass/external/_slick.grid.scss */
.slick-header-columns, .slick-headerrow-columns {
  width: 999999px;
  position: relative;
  white-space: nowrap;
  cursor: default;
  overflow: hidden;
}

/* line 22, ../sass/external/_slick.grid.scss */
.slick-header-column.ui-state-default {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 16px;
  line-height: 16px;
  margin: 0;
  padding: 4px;
  border-right: 1px solid silver;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  float: left;
}

/* line 38, ../sass/external/_slick.grid.scss */
.slick-headerrow-column.ui-state-default {
  padding: 4px;
}

/* line 42, ../sass/external/_slick.grid.scss */
.slick-header-column-sorted {
  font-style: italic;
}

/* line 46, ../sass/external/_slick.grid.scss */
.slick-sort-indicator {
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 4px;
}

/* line 53, ../sass/external/_slick.grid.scss */
.slick-sort-indicator-desc {
  background: url(images/sort-desc.gif);
}

/* line 57, ../sass/external/_slick.grid.scss */
.slick-sort-indicator-asc {
  background: url(images/sort-asc.gif);
}

/* line 61, ../sass/external/_slick.grid.scss */
.slick-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  cursor: col-resize;
  width: 4px;
  right: 0px;
  top: 0;
  height: 100%;
}

/* line 72, ../sass/external/_slick.grid.scss */
.slick-sortable-placeholder {
  background: silver;
}

/* line 76, ../sass/external/_slick.grid.scss */
.grid-canvas {
  position: relative;
  outline: 0;
}

/* line 81, ../sass/external/_slick.grid.scss */
.slick-row.ui-widget-content, .slick-row.ui-state-active {
  position: absolute;
  border: 0px;
  width: 100%;
}

/* line 87, ../sass/external/_slick.grid.scss */
.slick-cell, .slick-headerrow-column {
  position: absolute;
  border: 1px solid transparent;
  border-right: 1px dotted silver;
  border-bottom-color: silver;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  z-index: 1;
  padding: 1px 2px 2px 1px;
  margin: 0;
  white-space: nowrap;
  cursor: default;
}

/* line 110, ../sass/external/_slick.grid.scss */
.slick-group-toggle {
  display: inline-block;
}

/* line 114, ../sass/external/_slick.grid.scss */
.slick-cell.highlighted {
  background: lightskyblue;
  background: rgba(0, 0, 255, 0.2);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 122, ../sass/external/_slick.grid.scss */
.slick-cell.flashing {
  border: 1px solid red !important;
}

/* line 126, ../sass/external/_slick.grid.scss */
.slick-cell.editable {
  z-index: 11;
  overflow: visible;
  background: white;
  border-color: black;
  border-style: solid;
}

/* line 134, ../sass/external/_slick.grid.scss */
.slick-cell:focus {
  outline: none;
}

/* line 138, ../sass/external/_slick.grid.scss */
.slick-reorder-proxy {
  display: inline-block;
  background: blue;
  opacity: 0.15;
  filter: alpha(opacity=15);
  cursor: move;
}

/* line 146, ../sass/external/_slick.grid.scss */
.slick-reorder-guide {
  display: inline-block;
  height: 2px;
  background: blue;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

/* line 154, ../sass/external/_slick.grid.scss */
.slick-selection {
  z-index: 10;
  position: absolute;
  border: 2px dashed black;
}

/* Modules */
/* line 1, ../sass/partials/_header.scss */
.app-top {
  background: #333;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #242424), color-stop(100%, #424242));
  background: -webkit-linear-gradient(top, #242424, #424242);
  background: -moz-linear-gradient(top, #242424, #424242);
  background: -o-linear-gradient(top, #242424, #424242);
  background: linear-gradient(top, #242424, #424242);
  color: #fff;
  height: 55px;
  overflow: hidden;
  padding: 0 20px 0 15px;
  -webkit-box-shadow: inset 0 1px 0 #302d2a;
  -moz-box-shadow: inset 0 1px 0 #302d2a;
  box-shadow: inset 0 1px 0 #302d2a;
}

/* line 11, ../sass/partials/_header.scss */
.logo {
  font: normal 30px/55px "PT Sans", sans-serif;
  float: left;
}

/* line 16, ../sass/partials/_header.scss */
#user-panel {
  float: right;
  font-size: 12px;
  font-weight: 700;
}
/* line 21, ../sass/partials/_header.scss */
#user-panel a {
  color: #bbb;
  display: block;
}
/* line 25, ../sass/partials/_header.scss */
#user-panel a:hover *, #user-panel a.act * {
  color: #fff;
  border-top-color: #fff;
}
/* line 30, ../sass/partials/_header.scss */
#user-panel img {
  background: #444;
  border: 0;
  float: left;
  height: 24px;
  margin: 12px 10px 0 0;
  width: 24px;
}
/* line 38, ../sass/partials/_header.scss */
#user-panel .name {
  line-height: 50px;
  margin-right: 2px;
}
/* line 42, ../sass/partials/_header.scss */
#user-panel .dropdown {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #bbb;
  display: inline-block;
  position: relative;
  top: -1px;
}

/* line 52, ../sass/partials/_header.scss */
#user-menu {
  background: #fff;
  border: 1px solid #ccc;
  display: none;
  list-style: none;
  padding: .4em 0;
  position: absolute;
  margin-top: -5px;
  right: 1em;
  width: 140px;
  z-index: 2000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* line 70, ../sass/partials/_header.scss */
#user-menu .head {
  overflow: hidden;
  position: absolute;
  height: 8px;
  top: -6px;
  right: 25px;
  width: 16px;
  z-index: 2001;
}
/* line 79, ../sass/partials/_header.scss */
#user-menu span {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  display: inline-block;
  position: absolute;
  z-index: 2002;
}
/* line 88, ../sass/partials/_header.scss */
#user-menu a {
  color: #222;
  display: block;
  font-weight: 400;
  padding: .4em 2em;
}
/* line 94, ../sass/partials/_header.scss */
#user-menu a:hover {
  background: #888;
  color: #fff;
}

/* line 1, ../sass/partials/_songlist.scss */
.page-header {
  overflow: hidden;
  padding: 15px 20px;
  position: relative;
}
/* line 6, ../sass/partials/_songlist.scss */
.page-header .info {
  float: left;
}
/* line 9, ../sass/partials/_songlist.scss */
.page-header .meta {
  font-size: 13px;
}

/* line 13, ../sass/partials/_songlist.scss */
.search {
  float: right;
  margin-top: 5px;
  position: relative;
}

/* line 18, ../sass/partials/_songlist.scss */
#search {
  border: 1px solid #bbb;
  border-radius: 12px;
  height: 16px;
  outline: 0;
  padding: 1px 10px 3px;
  width: 150px;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

/* line 28, ../sass/partials/_songlist.scss */
#search::-webkit-input-placeholder {
  font-style: italic;
}

/* line 31, ../sass/partials/_songlist.scss */
#search:-moz-input-placeholder {
  font-style: italic;
}

/* line 34, ../sass/partials/_songlist.scss */
#search:focus {
  border-color: #999;
}

/* line 37, ../sass/partials/_songlist.scss */
.search .clear {
  background: url("/assets/close.png") no-repeat 0 -14px;
  display: inline-block;
  height: 14px;
  position: absolute;
  top: 4px;
  right: 8px;
  text-indent: -9999em;
  width: 14px;
}

/* line 47, ../sass/partials/_songlist.scss */
.search .clear:hover {
  background-position: 0 0;
}

/* line 51, ../sass/partials/_songlist.scss */
.grid-container {
  background: #f1f1f1;
  position: relative;
  width: 100%;
}

/* slickgrid */
/* line 58, ../sass/partials/_songlist.scss */
#slickgrid {
  background: #fff;
  color: #222;
  font-size: 12px;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 2px;
  width: 100%;
}

/* line 70, ../sass/partials/_songlist.scss */
#slickgrid .slick-header {
  background: #fafafa;
  background: -webkit-linear-gradient(top, white, white 50%, #eeeeee);
  background: -moz-linear-gradient(top, white, white 50%, #eeeeee);
  background: -o-linear-gradient(top, white, white 50%, #eeeeee);
  background: -ms-linear-gradient(top, white, white 50%, #eeeeee);
  background: linear-gradient(top, #ffffff, #ffffff 50%, #eeeeee);
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #bbb;
  font-weight: 700;
  overflow: visible !important;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
}

/* line 85, ../sass/partials/_songlist.scss */
#slickgrid .slick-header-column {
  padding-left: 10px;
}

/* line 88, ../sass/partials/_songlist.scss */
.slick-header:before, .slick-header:after {
  content: '';
  display: table;
}

/* line 92, ../sass/partials/_songlist.scss */
.slick-header:after {
  clear: both;
}

/* line 95, ../sass/partials/_songlist.scss */
#slickgrid .slick-row {
  line-height: 22px;
}

/* line 98, ../sass/partials/_songlist.scss */
#slickgrid .slick-cell {
  border: 0;
  padding-left: 10px;
}

/* line 102, ../sass/partials/_songlist.scss */
#slickgrid .slick-cell.l0 {
  padding-left: 5px;
}

/* line 105, ../sass/partials/_songlist.scss */
#slickgrid .selected {
  background: #4c96e5;
  color: #fff;
}

/* line 109, ../sass/partials/_songlist.scss */
#slickgrid .playing {
  background-image: url("/assets/icons.png");
  background-repeat: no-repeat;
  background-position: -232px -194px;
}

/* line 114, ../sass/partials/_songlist.scss */
#slickgrid .playing.selected {
  background-position: -232px -151px;
}

/* line 117, ../sass/partials/_songlist.scss */
.slick-cell.tracknum {
  text-align: right;
  padding-right: 10px;
}

/* line 123, ../sass/partials/_songlist.scss */
#slickgrid .even {
  background: #f7f7f7;
}

/* overlay */
/* line 128, ../sass/partials/_songlist.scss */
.overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9000;
}

/* line 138, ../sass/partials/_songlist.scss */
.overlay .content {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px 40px;
  margin: -30px 0 0 -200px;
  overflow: hidden;
  text-align: center;
  width: 400px;
  z-index: 9001;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 156, ../sass/partials/_songlist.scss */
.overlay h3 {
  font-size: 24px;
  font-weight: 700;
}

/* line 1, ../sass/partials/_sidebar.scss */
.app-nav {
  background: #eaeaea;
  border-right: 1px solid #d4d4d4;
  float: left;
  font-size: 11px;
  height: 100%;
  overflow: auto;
  width: 189px;
}
/* line 10, ../sass/partials/_sidebar.scss */
.app-nav ul {
  border-bottom: 1px solid #c7c7c7;
  list-style: none;
  margin: 0 -20px 15px;
  padding: 0 0 10px;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
}
/* line 18, ../sass/partials/_sidebar.scss */
.app-nav li {
  display: block;
  line-height: 1.4em;
  position: relative;
  z-index: 0;
}
/* line 24, ../sass/partials/_sidebar.scss */
.app-nav li a {
  color: #777;
  display: block;
  padding: 5px 20px;
  text-decoration: none;
}
/* line 30, ../sass/partials/_sidebar.scss */
.app-nav li a:hover {
  color: #222;
}
/* line 34, ../sass/partials/_sidebar.scss */
.app-nav li a:after {
  background: #aaa;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
}
/* line 46, ../sass/partials/_sidebar.scss */
.app-nav li.hover a {
  color: #222;
}
/* line 55, ../sass/partials/_sidebar.scss */
.app-nav .count {
  font-weight: 400;
  float: right;
}
/* line 60, ../sass/partials/_sidebar.scss */
.app-nav .common {
  font-size: 13px;
  font-weight: 700;
}
/* line 64, ../sass/partials/_sidebar.scss */
.app-nav .common a {
  color: #222;
}
/* line 69, ../sass/partials/_sidebar.scss */
.app-nav .none {
  padding-bottom: 0;
}
/* line 73, ../sass/partials/_sidebar.scss */
.app-nav .insync {
  font-style: italic;
}
/* line 76, ../sass/partials/_sidebar.scss */
.app-nav .insync a:hover {
  color: #777;
  cursor: default;
}
/* line 81, ../sass/partials/_sidebar.scss */
.app-nav .sync-icon {
  margin-left: 5px;
  position: relative;
}
/* line 86, ../sass/partials/_sidebar.scss */
.app-nav .playlist-input {
  margin-top: 10px;
}
/* line 90, ../sass/partials/_sidebar.scss */
.app-nav .btn-new-list {
  display: block;
  margin: 0 auto;
  width: 82px;
}
/* line 96, ../sass/partials/_sidebar.scss */
.app-nav .new-list {
  border: 1px solid #bbb;
  font-size: 11px;
  margin: 0 20px;
  padding: 3px 4px;
}
/* line 102, ../sass/partials/_sidebar.scss */
.app-nav .new-list.error {
  border: 1px solid red;
  -webkit-animation: shake 1s ease;
  -moz-animation: shake 1s ease;
  -ms-animation: shake 1s ease;
  -o-animation: shake 1s ease;
  animation: shake 1s ease;
}
/* line 107, ../sass/partials/_sidebar.scss */
.app-nav p.error {
  color: #c22;
  margin: 0 20px;
}

/* line 113, ../sass/partials/_sidebar.scss */
.app-nav-wrap {
  padding: 10px 20px;
  min-width: 100px;
}

/* draginfo */
/* line 120, ../sass/partials/_sidebar.scss */
#draginfo {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-size: 11px;
  padding: .5em .8em;
}

/* line 1, ../sass/partials/_player.scss */
.app-now-playing {
  background: #222;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #383838), color-stop(15%, #383838), color-stop(90%, #1f1f1f), color-stop(100%, #1f1f1f));
  background: -webkit-linear-gradient(top, #383838, #383838 15%, #1f1f1f 90%, #1f1f1f);
  background: -moz-linear-gradient(top, #383838, #383838 15%, #1f1f1f 90%, #1f1f1f);
  background: -o-linear-gradient(top, #383838, #383838 15%, #1f1f1f 90%, #1f1f1f);
  background: linear-gradient(top, #383838, #383838 15%, #1f1f1f 90%, #1f1f1f);
  border-top: 1px solid #505050;
  bottom: 0;
  color: #fff;
  cursor: default;
  font-size: 11px;
  font-weight: 700;
  padding: 0 0 10px;
  position: relative;
  -webkit-box-shadow: 0 -1px 0 black;
  -moz-box-shadow: 0 -1px 0 black;
  box-shadow: 0 -1px 0 black;
}
/* line 14, ../sass/partials/_player.scss */
.app-now-playing button {
  background: transparent url("/img/icons.png") no-repeat;
  border: 0;
  height: 40px;
  width: 40px;
  text-indent: -9999em;
}
/* line 21, ../sass/partials/_player.scss */
.app-now-playing button[disabled="disabled"] {
  /*opacity:0.2;*/
}

/* line 26, ../sass/partials/_player.scss */
#play-pause {
  background-position: -68px -1px;
  height: 48px;
  width: 48px;
}

/* line 31, ../sass/partials/_player.scss */
#play-pause:active {
  background-position: -68px -88px;
}

/* line 34, ../sass/partials/_player.scss */
#play-pause.playing {
  background-position: -213px -1px;
}

/* line 37, ../sass/partials/_player.scss */
#play-pause.playing:active {
  background-position: -213px -88px;
}

/* line 40, ../sass/partials/_player.scss */
#prev {
  background-position: 0 -5px;
  margin-right: -2px;
}

/* line 44, ../sass/partials/_player.scss */
#prev:active {
  background-position: 0 -92px;
}

/* line 47, ../sass/partials/_player.scss */
#next {
  background-position: -148px -5px;
  margin-left: -2px;
}

/* line 51, ../sass/partials/_player.scss */
#next:active {
  background-position: -148px -92px;
}

/* line 54, ../sass/partials/_player.scss */
#repeat, #shuffle {
  background: transparent url("/img/icons.png") no-repeat;
  display: inline-block;
  height: 24px;
  margin: 0 0 0 5px;
  padding: 0;
  width: 24px;
}

/* line 62, ../sass/partials/_player.scss */
#repeat {
  background-position: 3px -189px;
}
/* line 65, ../sass/partials/_player.scss */
#repeat.enabled {
  background-position: 3px -164px;
}

/* line 69, ../sass/partials/_player.scss */
#shuffle {
  background-position: -35px -189px;
}
/* line 72, ../sass/partials/_player.scss */
#shuffle.enabled {
  background-position: -35px -164px;
}

/* line 77, ../sass/partials/_player.scss */
#player-volume-label {
  background: url("/img/icons.png") no-repeat -160px -197px;
  display: inline-block;
  float: left;
  height: 16px;
  margin: 17px 0 0 20px;
  width: 16px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* line 89, ../sass/partials/_player.scss */
#player-volume {
  margin: 20px 15px 0 5px;
  text-align: center;
  width: 100px;
}

/* line 94, ../sass/partials/_player.scss */
#player-time {
  margin-top: 18px;
  text-align: center;
  width: 80px;
}

/* line 99, ../sass/partials/_player.scss */
#seekbar {
  margin: 0 75px 0 365px;
  padding: 0 15px;
  position: relative;
  text-align: center;
  top: 19px;
}

/* line 106, ../sass/partials/_player.scss */
#player-buttons-2 {
  float: right;
  margin: 12px 10px 0 0;
}

/* line 112, ../sass/partials/_player.scss */
#player-song {
  border-bottom: 1px solid #000;
  margin-bottom: 8px;
  padding: 5px 0 5px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 #434343;
  -moz-box-shadow: 0 1px 0 #434343;
  box-shadow: 0 1px 0 #434343;
}
/* line 121, ../sass/partials/_player.scss */
#player-song .label {
  color: #999;
}

/* line 125, ../sass/partials/_player.scss */
#player-song, #player-controls {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 129, ../sass/partials/_player.scss */
#player-controls {
  height: 48px;
  vertical-align: middle;
}

/* line 133, ../sass/partials/_player.scss */
#player-buttons, #player-volume, #player-time {
  float: left;
}

/* mixins */
/* modals */
/* line 9, ../sass/partials/_other.scss */
.modal {
  font-size: 13px;
  padding: 20px 30px;
  width: 340px;
}
/* line 14, ../sass/partials/_other.scss */
.modal h2 {
  margin: 0 0 2px;
}
/* line 17, ../sass/partials/_other.scss */
.modal .subheader {
  color: #888;
  font-size: 14px;
  margin: 0 0 15px;
}
/* line 22, ../sass/partials/_other.scss */
.modal fieldset {
  border-top: 1px solid #ddd;
  margin: 0 -30px;
  padding: 15px 30px;
}
/* line 27, ../sass/partials/_other.scss */
.modal label {
  clear: both;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: 700;
  line-height: 34px;
  width: 100px;
}
/* line 36, ../sass/partials/_other.scss */
.modal .field {
  display: inline-block;
  float: left;
  margin: 0 0 15px;
}
/* line 41, ../sass/partials/_other.scss */
.modal input[type="text"] {
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 20px;
  padding: 4px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* line 50, ../sass/partials/_other.scss */
.modal .actions {
  margin-left: 100px;
}
/* line 53, ../sass/partials/_other.scss */
.modal .actions a {
  margin-left: 15px;
}
/* line 57, ../sass/partials/_other.scss */
.modal .button {
  background: #f5f5f5;
  border: 1px solid #aaa;
  color: #000;
  font-size: 11px;
  padding: 3px 6px 3px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
/* line 68, ../sass/partials/_other.scss */
.modal .button:hover {
  background: #eee;
}
/* line 72, ../sass/partials/_other.scss */
.modal .button:active {
  background: #abe;
}

/* preloader */
/* line 79, ../sass/partials/_other.scss */
.preloader {
  background: rgba(0, 0, 0, 0.75);
  height: 100%;
  position: fixed;
  text-align: center;
  width: 100%;
}
/* line 86, ../sass/partials/_other.scss */
.preloader * {
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
}
/* line 92, ../sass/partials/_other.scss */
.preloader .loading {
  margin: -8px 0 0 -8px;
}

/* SoundManager 2 */
/* line 99, ../sass/partials/_other.scss */
#sm2-container {
  height: 300px;
  position: absolute;
  left: 40%;
  top: 30%;
  text-align: center;
  visibility: visible;
  width: 400px;
  z-index: auto !important;
}
/* line 109, ../sass/partials/_other.scss */
#sm2-container div {
  min-height: 32px;
  height: 100%;
  position: relative;
}
/* line 115, ../sass/partials/_other.scss */
#sm2-container.swf_timedout {
  /* Didn't load before time-out, show to user.
  Maybe highlight on-screen, red border, etc..? */
}
/* line 120, ../sass/partials/_other.scss */
#sm2-container.swf_unblocked {
  /* Applied if movie loads successfully after
  an unblock (flash started, so move off-screen etc.) */
}
/* line 125, ../sass/partials/_other.scss */
#sm2-container.swf_loaded {
  /* Applied if movie loads, regardless of whether
  it was initially blocked */
  height: 0;
  width: 0;
  visibility: hidden;
  z-index: 0;
}
/* line 134, ../sass/partials/_other.scss */
#sm2-container.swf_error {
  /* "Fatal" error case: SWF loaded,
  but SM2 was unable to start for some reason.
  (Flash security or other error case.) */
}
/* line 140, ../sass/partials/_other.scss */
#sm2-container.high_performance {
  /* Additional modifier for "high performance" mode
  should apply position:fixed and left/bottom 0 to stay on-screen
  at all times (better flash performance) */
}
/* line 146, ../sass/partials/_other.scss */
#sm2-container.flash_debug {
  /* Additional modifier for flash debug output mode
  should use width/height 100% so you can read debug messages */
}
