%bordered {
    border-bottom: 1px solid $color-border;
    @include box-shadow(0 1px 0 #fff);
}

.ir {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.none {
    color:#666;
    margin:15px 0;
    padding:10px 12px;
    text-align:center
}

.right {
    float: right;
}

.clearfix {
    @include clearfix;
}
