.dropdown-menu {
    a {
        display: block;
        text-decoration: none;
    }
}

.dropdown-toggle {
    @include disable-select;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;

    // Dropdown arrow
    &:after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #bbb;
        content: '';
        display: inline-block;
        margin-left: 5px;
        position: relative;
        top: -1px;
    }

    &:hover:after {
        border-top-color: #fff;
        color: #fff;
    }
}

.dropdown-menu {
    background: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: em(6, 12);
    display: none;
    font-size: em(12);
    list-style: none;
    padding: em(5, 12) 0;
    position: absolute;
    margin-top: -5px;
    right: em(9, 12);
    min-width: 140px;
    z-index: 1000;
    @include box-shadow(0 5px 10px rgba(0,0,0, 0.2));
    @include background-clip(padding-box);

    .open & {
        display: block;
        @include animation(fadeIn .15s);
    }

    a {
        color: $color-text;
        padding: em(5, 12) 2em;

        &:hover {
            background: $color-orange;
        }
    }

    hr {
        background: $color-light;
        border: 0;
        height: 1px;
    }

    // Dropdown arrow
    &:before {
        border: em(7, 12) solid transparent;
        border-top: 0;
        border-bottom-color: #ccc;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        bottom: 100%;
        right: em(7, 12);
    }

    &:after {
        border: em(6, 12) solid transparent;
        border-top: 0;
        border-bottom-color: #fff;
        bottom: 100%;
        right: em(8, 12);
    }

    &:before, &:after {
        content: '';
        display: inline-block;
        position: absolute;
    }
}
