.icon, [class|="icon"] {
    background: url('/img/icons.png') no-repeat;
}

.icon-notify {
    background-position:-117px -192px;
}

.icon-sync {
    background:url('/img/sync.gif') no-repeat;
    display:inline-block;
    height:16px;
    width:16px;
    @include image-replacement;
}

.loading {
    background:url('/img/preloader.gif') no-repeat;
    height:16px;
    width:16px;
    @include image-replacement;
}
