
html,body {
    height:100%;
}

body {
    color: $color-text;
    font: 1em/1.5 $font-body;
    margin: 0 auto;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;

    /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
    -webkit-backface-visibility: hidden;
}

#app, .main-wrap {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.app-nav {
    border-right:1px solid #d4d4d4;
    display:none;
    float:left;
    height:100%;
    overflow:auto;
    width:189px;

    @media (min-width: $breakpoint-1) {
        display:inline-block;
    }
}

.app-main {
    height:100%;
    overflow: hidden;

    .playlist {
        height:100%;
        overflow-y:hidden;
    }
}
