
html,body {
    height:100%;
}

body {
    color:#333;
    font-family:sans-serif;
    margin:0 auto;
    overflow:hidden;
    -webkit-font-smoothing: antialiased;
}


.under-construction {
    border:2px dashed #bbb;
    color:#666;
    margin:15px 0;
    padding:10px 12px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.none {
    color:#666;
    margin:15px 0;
    padding:10px 12px;
    text-align:center
}


input[type="submit"] {
    cursor:pointer;
}

