
html,body {
    height:100%;
}

body {
    color: $color-text;
    font: 1em/1.5 $font-body;
    margin: 0 auto;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;

    /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
    -webkit-backface-visibility: hidden;
}
