.btn {
    background:#595959;
    @include background(linear-gradient(top, #707070, #424242));
    border-radius:3px;
    color:#fff;
    display:inline-block;
    font-size:12px;
    font-weight:700;
    height:28px;
    line-height:28px;
    padding:0 8px;
    text-align:center;
    text-decoration: none;
    text-shadow:0 1px 0 #000;

    &:hover {
        background:#707070;
        @include background(linear-gradient(top, #888, #424242));
        color:#fff;
    }
}
