.dialog-container {
    background: rgba(0,0,0, 0.7);
    display: none;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.dialog {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #555;
    border-radius: 6px;
    margin: 10% auto 5%;
    overflow: hidden;
    padding: 25px;
    position: relative;
    width: 320px;
    @include box-shadow(0 5px 15px rgba(0, 0, 0, 0.4));

    .close {
        background: #ddd;
        border: 0;
        height: 32px;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        text-shadow: none;
        width: 32px;
        -webkit-appearance: none;
        @extend .ir;
    }

    h2, section {
        margin: 0 -25px;
    }

    h2 {
        padding: 0 25px 20px;
    }

    section {
        padding: 20px 25px;
    }

    section + section {
        border-top: 1px solid $color-border;
    }

    .form-field {
        margin: 0 0 15px 120px;
        position: relative;
    }

    label {
        clear: both;
        float: left;
        width: 100px;
    }

    label, p {
        line-height: 1.25;
        padding-top: .25em;
    }

    input {

    }

    a {
        text-decoration: none;
    }

    [type="submit"] {
    }
}

#dialog-settings {
    .loading {
        display: inline-block;
    }
}
