#app, .wrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.app-nav {
    border-right:1px solid #d4d4d4;
    display:none;
    float:left;
    height:100%;
    overflow:auto;
    width:189px;

    @media (min-width: $breakpoint-1) {
        display:inline-block;
    }
}

.app-main {
    height:100%;
    overflow: hidden;

    .playlist {
        height:100%;
        overflow-y:hidden;
    }
}
