h2 {
    font-size:24px;
    font-weight:700;
    line-height:$baseline*2;
}

h3 {
    font-size:$font-size-body;
    font-weight:700;
    line-height:$baseline;
}

h5 {
    font-weight:700;
}

p {
    font-size:$font-size-body;
    line-height:$baseline;
}


a {
    color:#49e;
    cursor: pointer;
    text-decoration:underline;

    &:hover {
        color:#e49;
    }
}
