// Style wide settings

// Colors
$color-blue: #4c96e5;
$color-orange: #f18c06;
$color-gray: #888;
$color-light: #bbb;
$color-light2: #e5e5e5;

// Component colors
$color-text: #333;
$color-heading: #101010;
$color-link: #17c;
$color-link-hover: #a53;
$color-border: #c7c7c7;

// Other variables
$link-border: 1px solid #ced2df;

$font-body: 'Helvetica Neue', sans-serif;
$font-heading: 'Open Sans Condensed', 'Arial Narrow', sans-serif;

$font-size-body: 14px;

// font-sizes: 11 13 24

$baseline: 20px;

$breakpoint-1: 780px;
